#recommendations {
  background: linear-gradient(
    90deg,
    #000000 0%,
    hsl(143, 76%, 3%) 30%,
    #06150c 60%,
    #06250e 100%
  );
  padding-block: 70px;
  .recommendations {
    display: flex;
    align-items: center;
    gap: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
  }
}
